*{margin:0px;padding:0px;}
body {color:#666; font-family: Verdana, sans-serif; background-color:whitesmoke;}
#container{margin:0 0 0 10px; max-width:1000px; width:100%; font-size:80%;}
aside { float:left; width:15%; height:600px;}

header {width:85%;float:left;}

header nav {width:100%; float:left;  }
nav li {list-style-type:none; display:inline; padding:1%; }

nav li.active > a
{
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background : white;
    border : 1px solid #666;
    padding: 5px;
    text-decoration: none;
}
#producten {float:left; width:100%;}

.logo img {width:50%;}
#content{width:85%; float:left;}
footer {clear:both; display:none;}

table.frm_01 , .frm_02{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:  95%;
	border-collapse: collapse;
	background-color:#EDECEF;
	margin-left:5px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	margin-top:0px;
	caption-side:top;
	width:70%;
	color:black;
}
table.frm_02{
        margin-left:1px;
        width:80%;
}

/*table.frm_01 caption {
	  margin-left:50px;  }*/

table.frm_01 tr{
	color:black;
}

table.frm_01 tr.odd{
	/* background-color: #FFFFFF; */
}

table.frm_01 td{
	border: 1px dotted #CCCCCC;
	color:black;
}

table.frm_01 tbody th{
	padding: 2px 5px;
	font-weight:bold;
	white-space: nowrap;
	background-color:#EDECEF;;
	color:black;
	border-color:#DEDEDE;
	text-align:right;
	/*width:50px;*/
}

table.frm_01 tbody td{
	 padding: 2px 5px;
	 vertical-align:middle;
}

table.frm_01 tbody th.foto{
	 text-align:center;
         background-color:#fff;
}

table.frm_01 tbody td.foto{
	 text-align:center;
         background-color:#fff;
}

table.frm_01 tbody td.price{
	 text-align:right;
}

table.frm_01 tfoot{
	border-top:1px dashed black;
}

table.frm_01 tfoot tr{
	 background-color:#FFFFFF;
}

table.frm_01 tfoot th{
	font-size: 110%;
	text-align: right;
	padding-right: 0.5em;
	letter-spacing: 1px;
}

table.frm_01 tfoot td{
	text-align: left;
	padding: 0.5em;
}

table.frm_01 tfoot td.price{
	 text-align:right;
}

table.frm_01 th .required
{
    background-image:url(../base/images/icons/required-field.png);
    background-position:top right;
    background-repeat:no-repeat;
    padding-right:15px;
}

table.frm_01 input[disabled] {
	border: 0px solid #999;
	color:black;
	font-size:  130%;
	background-color:#EDECEF;
}
table.frm_01 textarea[disabled] {
	border: 1px solid #000;
	color:black;
	background-color:#EDECEF;
	resize:none;
}
table.frm_01 select[disabled] {
	border: 0px solid #000;
	color:black;
	background-color:#EDECEF;
}

#container .mainTitle{
        height:20px;
	margin-bottom:20px;
        margin-top:5px;
        text-align:center;
        width:970px;
}

fieldset {
        -moz-border-radius: 10px;
        border-radius: 10px;
        background-color : #EDECEF;
        border : 1px solid #666;
        width:50%;
        margin-left:10px;
        float:right;
        padding-bottom: 10px;
}

legend {
       margin-left:10px;
       font-weight: bold;
}
nav {
    float:left;
    width:300px;
}

#paginainfo {
    border:2px solid #C9C9C9;
    margin-left:15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float:left;
    margin-top:10px;
    width:100%;
    background:#fff;
}

.title-pagina {
    color: #000000;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
}

.teaser-pagina {
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}
.pagina-desc {
    clear: both;
    color: #4C4C4C;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 10px;
    padding-top: 10px;
    width:90%;
    word-wrap: break-word;
    overflow: hidden;
}

#productinfo {
    border:2px solid #C9C9C9;
    margin-left:15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float:left;
    margin-top:10px;
    width:100%;
    background:#fff;
}

.viewerImage {
    width:40%;
    height:360px;
    float:left;
    text-align:center;
    margin-left:5px;
}

.viewerInfo {
    width:57.6%;
    height:360px;
    float:left;
    margin-left:10px;
}

.title-product {
    color: #000000;
    font-family: Arial;
    font-size: 22px;
    font-weight: normal;
}
.teaser-product {
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
}
.prod-desc {
    clear: both;
    color: #4C4C4C;
    font-family: Arial;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0 10px;
    padding-top: 10px;
    width:90%;
    word-wrap: break-word;
    overflow: hidden;
}
.prod-status {
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color:#fff;
    padding-left:25px;
    background: #F36E1F;
}

.prod-price {
    font-family: Arial;
    font-size: 46px;
    font-weight: bold;
    float:right;
    clear:both;
}
.qty-price {
    float:right;
    margin-top:10px;
    margin-right:5px;
}
.prod-foto {
    clear:both;
}
.add_to_cart_image_button {
    display: block;
    line-height: 18px;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 220px;
}
.add_to_cart_button {
    clear:both;
    float:right;
    padding-top:5px;
    background: #F36E1F;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    text-decoration: none;
    width: 220px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
}
.add_to_cart_button > a{
    color:white;
    text-decoration:none;
}
.add_to_cart_button:hover {
    background: #DD4F13;
}


section.firma
{
    width:100%;
    font-size:70%;
}

section.lang {
    margin-top:1px;
    width:100%;
    float:right;
    text-align:right;
    margin-right:2%;
}

.lang li {list-style-type:none; display:inline; }
.lang  ul li.active{font-weight:bold;}

section.winkelmand {
    margin-top:5px;
    width:100%;
    float:right;
    text-align:right;
    margin-right:2%;
}

section.winkelmand li {
    list-style-type:none;
    display:inline;
    margin-left:10px;
}

section.winkelmand.img { width:15%;}


section.login {
        margin-top:5px;
        -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background : whitesmoke;
        border : 0px solid #666;
        width:360px;
        float:right;
        padding: 1%;
        margin-right:5%;
}

section.search {
        margin-top:5px;
        -moz-border-radius: 10px 10px 10px 10px;
        border-radius: 10px 10px 10px 10px;
        background : whitesmoke;
        border : 0px solid #666;
        width:235px;
        float:right;
        padding: 1%;
        margin-right:10%;
}




.promoblokken {
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 100%;
    z-index: 0;
}
.l_prom_new {
    cursor: pointer;
    float: left;
    margin: 0 3px 3px 0;
    width: 209px;
}
.l_prom_top_g_new {
    background-image: url("/images/promoblok/spc_top.png");
    background-repeat: no-repeat;
    clear: both;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 30px;
    text-align: left;
    text-transform: capitalize;
    width: 209px;
}
.l_iconset {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    width: 20px;
}
.l_prom_mid {
    background-image: url("/images/promoblok/spc_bg.png");
    background-repeat: repeat-y;
    height: 210px !important;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    position: relative;
    width: 209px;
}

.l_fotobox {
    height: 120px;
    text-align: center;
    width: 180px;
}

.l_Titels {
    float: left;
    padding-left: 5px;
    padding-top: 10px;
    text-align: center;
    width: 180px;
}
.l_prom_bottom_new {
    background-color: #FFFFFF;
    background-image: url("/images/promoblok/spc_bottom.png");
    background-repeat: no-repeat;
    clear: both;
    height: 10px;
    overflow: hidden;
    width: 209px;
}

.productimage {height:120px;}
.productimage-2 {height:360px;}
.productimage-3 {height:100px;}

.msg_error{
	border:1px dashed darkred;
	padding:0px;
	text-align:left;
	color:#fff;
	margin-left:5px;
	background-color: darkred;
}

.msg_ok{
	border:1px solid black;
	padding:0px;
	text-align:left;
	color:#fff;
	background-color:darkgreen;
	margin-left:5px;
}

#productform {
    float:left;
    width:70%;
}

.hidden, figcaption{display:none;}

#pagina section
{
    margin-left:25px;
    margin-top:25px;
}

#pagina textarea {
    width:700px;
    height:200px;
    background-color:whitesmoke;
    resize:none;
    border: 0px;
}

dt { height:0px; }
dd { line-height:0px; }

@media screen and (max-width: 650px) {   
    aside {
        display:none;
    }

    footer {
        display:block;
    }

    nav li {display:block;  }

    .lang li {display:block;  }

    table.frm_01 {font-size:  65%;}

    table.frm_01 tfoot th{
	font-size: 70%;
    }

    table.frm_01 input {
	width: 70%;
    }

    section.login {
        width:260px;
    }
    section.search {
        margin-right:0%;
    }
    
    .viewerImage {
        float:none;
    }
    .viewerInfo {
        float:none;
        width:90%;
    }

}

@media screen and (max-width: 900px) {
    section.login {
        float:left;
    }
}